<%- include("./partials/header.ejs") %>

        <button><a href="/materials">Materials</a></button>
        <button><a href="/equipment">Equipment</a></button>
        <button><a href="/monsters">Monsters</a></button>
        <button><a href="/creatures">Creatures</a></button>

        
</body>

</html>