<%- include("./partials/header.ejs") %>

    <ul id="list">
    <% for(let i=0; i < allMats.length; i++) { %>
        <li>
          <a href="/materials/<%=i%>">
            <%= allMats[i].name %>
         </a>

        </li>
        
 <% } %>
    </ul>
    <a href="/materials/new">New</a>
</body>
</html>