<%- include("./partials/header.ejs") %>
<body>
    <h1>Add Item</h1>

    <!-- <form action="/materials" method="POST"> -->
    <!-- <fieldset>
        <label for="name">Name:</label> 
        <input id="name" type="text" name="name" placeholder="enter new material name">
    </fieldset>
        <button>Add Item</button>
    </form> -->
    

</body>
</html>